h2{
    font-family:"Montserrat"
}

.card{
    display: flex;
    align-items:center;
    justify-content: center;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius:25px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 15px;
    position: relative;
    transition: flex 0.2s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    margin: 0;
    opacity: 0;
}

.panel h3 a{
    text-decoration: none;
    color:white;
}

.panel.active{
    flex: 3;
}

.panel.active h3{
    font-family: "Montserrat";
    opacity:1;
}

#noms{
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.012),
    rgba(0, 0, 0, 0.75)),url('noms.jpg');
   }

#bmi{
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.012),
    rgba(0, 0, 0, 0.75)),url('bmi.jpg');
}

#calories{
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.012),
    rgba(0, 0, 0, 0.75)),url('calories.jpg');
}

#history{
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.012),
    rgba(0, 0, 0, 0.75)),url('history.jpg');
}

/* for media less than 480px wide */

@media(max-width:480px){
    .card{
        flex-direction: column;
    }
}