.LoginBox{
    display: flex;
    flex-direction: row;
    margin: 5%;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
}

.LoginBox button{
    margin-left:10px;
    padding:10px;
    width: 100px;
    background-color: var(--accent-color);
    border: none;
    color: white;
    border-radius: 25px;
    font-family: "Montserrat";
}

.LoginBox button:hover{
    background-color: green;
    cursor:pointer;
}

.LoginBox h2{
    font-family: "Montserrat";
    font-weight: bolder;
}

.LoginContainer{
    width:80%;
    padding:3%;
}

.RegisterContainer{
    color:white;
    padding:3%;
    background-color: var(--accent-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#RegisterButton{
    background-color: white;
    color: var(--accent-color);
}

.LoginInput{
    border-radius: 25px;
    padding:8px;
    width: 30%;
    border: 2px solid var(--accent-color);
}

.LoginInput:focus{
    text-decoration: none;
    outline:none;
    border: 3px solid green;
}


.RegisterAlert{
    margin:10px;
    padding:8px;
    background-color: pink;
    color:red;
    font-family: 'Montserrat';
    font-size: small;
}

.RegisterAlert button{
    background-color: transparent;
    padding:5px;
    width: 15px;
    scale: 200%;
}

.RegisterAlert button:hover{
    background-color: transparent;
}

.FormBox{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:10px;
}

.FormInput{
    width:45%;
    margin:10px;
}

.FormInput label{
    font-family: 'Montserrat';
}

.FormInput input{
    width:80%;
}

.FormInput button{
    width:auto;
}

#id_remember_me{
    width:auto;
}

.input-group{
    display:flex;
    flex-wrap: nowrap;
}

.input-group input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append button{
    margin:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}